In [6]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import urllib.request as req

In [81]:
url =  'https://finance.naver.com/item/sise.nhn?code=005930'
src = req.urlopen(url).read()

In [82]:
soup = BeautifulSoup(src,'html.parser')

In [48]:
vlist = list()
vlist = soup.body.find_all('span', 'tah p11', id=False)
vlist

[<span class="tah p11">59,200</span>,
 <span class="tah p11">59,100</span>,
 <span class="tah p11">57,800</span>,
 <span class="tah p11">58,000</span>,
 <span class="tah p11">100원</span>,
 <span class="tah p11">75,100</span>,
 <span class="tah p11">74,700</span>,
 <span class="tah p11">40,500</span>,
 <span class="tah p11">40,300</span>,
 <span class="tah p11">62,800</span>,
 <span class="tah p11">42,300</span>]

In [59]:
for i in vlist:
    if i.get_text() == '100원': 
        pass
    else:
        print(i.get_text())

59,200
59,100
57,800
58,000
75,100
74,700
40,500
40,300
62,800
42,300

### html_table_parser로 뽑아보자

In [62]:
from html_table_parser import parser_functions as parser

In [108]:
url =  'https://finance.naver.com/item/sise_day.nhn?code=005930'
src = req.urlopen(url).read()

In [109]:
soup = BeautifulSoup(src,'html.parser')

In [113]:
text = soup.select_one('table')
text

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.11</span></td>
<td class="num"><span class="tah p11">59,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,400
				</span>
</td>
<td class="num"><span class="tah p11">58,000</span></td>
<td class="num"><span class="tah p11">59,500</span></td>
<td class="num"><span class="tah p11">57,800</span></td>
<td class="num"><span class="tah p11">15,330,983</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.10</span></td>
<td class="num"><span class="tah p11">57,800</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">57,600</span></td>
<td class="num"><span class="tah p11">58,300</span></td>
<td class="num"><span class="tah p11">57,500</span></td>
<td class="num"><span class="tah p11">17,774,291</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.07</span></td>
<td class="num"><span class="tah p11">57,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">57,900</span></td>
<td class="num"><span class="tah p11">58,400</span></td>
<td class="num"><span class="tah p11">57,100</span></td>
<td class="num"><span class="tah p11">18,751,717</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.06</span></td>
<td class="num"><span class="tah p11">58,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,100
				</span>
</td>
<td class="num"><span class="tah p11">57,100</span></td>
<td class="num"><span class="tah p11">58,400</span></td>
<td class="num"><span class="tah p11">57,100</span></td>
<td class="num"><span class="tah p11">21,625,874</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.05</span></td>
<td class="num"><span class="tah p11">56,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				400
				</span>
</td>
<td class="num"><span class="tah p11">57,300</span></td>
<td class="num"><span class="tah p11">57,500</span></td>
<td class="num"><span class="tah p11">56,300</span></td>
<td class="num"><span class="tah p11">17,739,706</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.04</span></td>
<td class="num"><span class="tah p11">57,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				500
				</span>
</td>
<td class="num"><span class="tah p11">57,200</span></td>
<td class="num"><span class="tah p11">58,100</span></td>
<td class="num"><span class="tah p11">57,000</span></td>
<td class="num"><span class="tah p11">19,419,694</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.03</span></td>
<td class="num"><span class="tah p11">56,800</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,100
				</span>
</td>
<td class="num"><span class="tah p11">57,800</span></td>
<td class="num"><span class="tah p11">57,900</span></td>
<td class="num"><span class="tah p11">56,700</span></td>
<td class="num"><span class="tah p11">21,158,940</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.07.31</span></td>
<td class="num"><span class="tah p11">57,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,100
				</span>
</td>
<td class="num"><span class="tah p11">59,500</span></td>
<td class="num"><span class="tah p11">59,600</span></td>
<td class="num"><span class="tah p11">57,700</span></td>
<td class="num"><span class="tah p11">21,943,345</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.07.30</span></td>
<td class="num"><span class="tah p11">59,000</span></td>
<td class="num">
<span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">59,700</span></td>
<td class="num"><span class="tah p11">60,100</span></td>
<td class="num"><span class="tah p11">59,000</span></td>
<td class="num"><span class="tah p11">19,285,354</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.07.29</span></td>
<td class="num"><span class="tah p11">59,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">60,300</span></td>
<td class="num"><span class="tah p11">60,400</span></td>
<td class="num"><span class="tah p11">58,600</span></td>
<td class="num"><span class="tah p11">36,476,611</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

In [114]:
table = parser.make2d(text)
df=pd.DataFrame(table)

In [135]:
df.head(10)

             0       1      2       3       4       5           6
0           날짜      종가    전일비      시가      고가      저가         거래량
1
2   2020.08.11  59,200  1,400  58,000  59,500  57,800  15,330,983
3   2020.08.10  57,800    300  57,600  58,300  57,500  17,774,291
4   2020.08.07  57,500    500  57,900  58,400  57,100  18,751,717
5   2020.08.06  58,000  1,100  57,100  58,400  57,100  21,625,874
6   2020.08.05  56,900    400  57,300  57,500  56,300  17,739,706
10  2020.08.04  57,300    500  57,200  58,100  57,000  19,419,694
11  2020.08.03  56,800  1,100  57,800  57,900  56,700  21,158,940
12  2020.07.31  57,900  1,100  59,500  59,600  57,700  21,943,345

In [138]:
df = df.drop(df.index[1])

In [133]:
df = df.drop(df.index[7:10])

In [150]:
df

             0       1      2       3       4       5           6
0           날짜      종가    전일비      시가      고가      저가         거래량
2   2020.08.11  59,200  1,400  58,000  59,500  57,800  15,330,983
3   2020.08.10  57,800    300  57,600  58,300  57,500  17,774,291
4   2020.08.07  57,500    500  57,900  58,400  57,100  18,751,717
5   2020.08.06  58,000  1,100  57,100  58,400  57,100  21,625,874
6   2020.08.05  56,900    400  57,300  57,500  56,300  17,739,706
10  2020.08.04  57,300    500  57,200  58,100  57,000  19,419,694
11  2020.08.03  56,800  1,100  57,800  57,900  56,700  21,158,940
12  2020.07.31  57,900  1,100  59,500  59,600  57,700  21,943,345
13  2020.07.30  59,000      0  59,700  60,100  59,000  19,285,354
14  2020.07.29  59,000    400  60,300  60,400  58,600  36,476,611
15

In [154]:
df2 = df.rename(columns=df.iloc[0])
df2

            날짜      종가    전일비      시가      고가      저가         거래량
0           날짜      종가    전일비      시가      고가      저가         거래량
2   2020.08.11  59,200  1,400  58,000  59,500  57,800  15,330,983
3   2020.08.10  57,800    300  57,600  58,300  57,500  17,774,291
4   2020.08.07  57,500    500  57,900  58,400  57,100  18,751,717
5   2020.08.06  58,000  1,100  57,100  58,400  57,100  21,625,874
6   2020.08.05  56,900    400  57,300  57,500  56,300  17,739,706
10  2020.08.04  57,300    500  57,200  58,100  57,000  19,419,694
11  2020.08.03  56,800  1,100  57,800  57,900  56,700  21,158,940
12  2020.07.31  57,900  1,100  59,500  59,600  57,700  21,943,345
13  2020.07.30  59,000      0  59,700  60,100  59,000  19,285,354
14  2020.07.29  59,000    400  60,300  60,400  58,600  36,476,611
15

In [155]:
df2 = df2.reset_index(drop=True)

In [157]:
df2 = df2.drop(df2.index[0])

In [162]:
df2 = df2.reset_index(drop=True)